/* components/UAEStatsSection.module.css */
.statsSection {
  padding: 60px 0;
  background-color: #f3f3f6;
  text-align: left;
}

.heading {
  font-size: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 32px;
  margin-top: 0;
  margin-left: -20px;
}

.statsGrid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 2rem;
}

.statBox {
  flex: 1 1 200px;
  max-width: 300px;
}

.value {
  font-size: 81px;
  font-weight: 900;
  color: #ba9c80;
  margin-bottom: 0.5rem;
}

.label {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}
